body {
  min-height: 100vh;
}

.tabs-container {
  min-height: 200px;
  border-style: solid;
  border-width: 2px;
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
}

.tabs-container div{
  min-height: 100%;
  text-align: center;
}

.tab-content-container{
  display: grid;
  align-items: center;
  justify-content: center;
}

.tab-title{
  text-align: center;
  padding-top: max(24px, 15%);
  font-weight: 700;
  font-size: 24px;
}

.tab-content{
  padding-top: max(13px, 5%);
  font-weight: 400;
  font-size: 16px;
}

