body {
  min-height: 100vh;
}

.tabs-container {
  min-height: 200px;
  border-style: solid;
  border-width: 2px;
  display: grid;
  grid-template-columns: minmax(150px,33%);
  grid-template-rows: auto;
}

.tabs-container div{
  min-height: 100%;
  
}

